backup/*
test/*
src/*
old/*
!src/CalTools.cc
!src/CalTools.h
!src/ClustInfo.cc
!src/ClustInfo.h
!src/Constants.h
!src/CstInfo.cc
!src/CstInfo.h
!src/EvtTools.cc
!src/EvtTools.h
!src/FlowTools.cc
!src/FlowTools.h
!src/GenTools.cc
!src/GenTools.h
!src/Interfaces.cc
!src/Interfaces.h
!src/JetInfo.cc
!src/JetInfo.h
!src/TrkTools.cc
!src/TrkTools.h
!src/VtxTools.cc
!src/VtxTools.h
!src/SCorrelatorUtilities.h
!src/SCorrelatorUtilitiesLinkDef.h
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
