backup/*
test/*
src/*
old/*
!src/ClustInfo.cc
!src/ClustInfo.h
!src/ClustInterfaces.cc
!src/ClustInterfaces.h
!src/Constants.h
!src/CstInfo.cc
!src/CstInfo.h
!src/EvtTools.cc
!src/EvtTools.h
!src/FlowTools.cc
!src/FlowTools.h
!src/GenTools.cc
!src/GenTools.h
!src/Interfaces.h
!src/JetInfo.cc
!src/JetInfo.h
!src/NodeInterfaces.cc
!src/NodeInterfaces.h
!src/ParInfo.cc
!src/ParInfo.h
!src/TreeInterfaces.cc
!src/TreeInterfaces.h
!src/TrkInfo.cc
!src/TrkInfo.h
!src/TrkInterfaces.cc
!src/TrkInterfaces.h
!src/TrkTools.cc
!src/TrkTools.h
!src/Tools.h
!src/TupleInterfaces.cc
!src/TupleInterfaces.h
!src/Types.h
!src/VtxInterfaces.cc
!src/VtxInterfaces.h
!src/SCorrelatorUtilities.h
!src/SCorrelatorUtilitiesLinkDef.h
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
